*, body {
    box-sizing: border-box;
    font-family: 'Scheherazade New', serif !important;
  }

header {
    background-image: linear-gradient(160deg, rgb(1, 42, 74), rgb(1, 42, 74, 0.15));
    color: whitesmoke;
    text-align: center;
    padding-top: 2%;
    
    height: 15vh; 
    font-size: 300%;
   
}

nav {
    background-image: ;
    background-color: rgb(231, 227, 227, 0.3);
    color: black;
    padding: 0.35%;
    
    height:fit-content;
      
    margin: 0.1vh;
}
fieldset {
    display: flex;
    flex-flow: column wrap;
}
hr {
    margin: 0 1%;
}
h3 {
    font-weight:lighter;
    font-style: italic;
    font-family: 'Scheherazade New', serif;
    color: rgba(32, 54, 54, 0.705);
}
::placeholder {
    opacity: 0.5;
    font-size: 80%;
}
/* Flex box for nav bar that overrides pure css styling */
.pure-menu-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pure-menu-link {
    background-color: rgb(231, 227, 227, 0.9);
    /* flex: auto; */
    font-size: 120%;
    border-radius: 4px;
    text-align: center;
    min-width: 20vw;
    height: fit-content;
}
/* Sidebar container */
#sidebar {
    background-color: #A9D6E5;
    height: 76vh;
    color: whitesmoke;
    
    font-size:150%;
    border-radius: 8px;
    margin-top: 1vh;
    box-shadow: inset 0vh 1vh 1vh 0vh rgb(137, 194, 217,0.5);
    
    
        
}
/* Container of the search form (input and button) */
#formContainer {
    margin-left: 3%;
    margin-right: 1%;
}
#search-movie, #search-people {
    max-width: 90%;
    min-width: 0;
    flex-shrink: 1;
        
}

/* Btn container */
#btnContainer {
    margin-top: 2%;    
}
.pure-button {
    padding: 0 5% !important;
    border-radius: 4px;
    width: 100px;
}
/* search history flex container */ 
#search-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    overflow: hidden;
}
/* Alignment of Search History label */
#srchHistory-label {
    align-self: flex-start;
}
/* General container for search results */
#results {
    background-color: white;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;  
    height: 77vh;
    overflow: auto;
            
}
/* Container styling for focused info section of the results */
#focusedInfo {
        
    margin: 1vh;    
    border-radius: 8px;         
}
/* Container styling for the related media section of the results */
#relatedMedia {
    padding: 0 2vh 0 2vh;
    height: 30vh;    
    border-radius: 8px;  
    margin: 0vh 1vh 0vh 1vh;
}

/* General container that applies only for page 3 'Your Collection' */
#generalContainer3 {
    
    height: 78vh;
    display: flex;
    flex-flow: column nowrap; 
}
/* My Collection section applies only for page 3 'Your Collection' */
#myCollection {
    display: flex;
    height: 40vh;
    background-color: rgb(169, 214, 229,0.5);
    
    border-radius: 8px;
    color: black;
    margin: 0 0.3% 1% 0.3%;
    font-size:100%;
    overflow: auto;
}
/* My Wishlist section applies only for page 3 'Your Collection' */
#myWishlist {
    display: flex;
    height: 33vh;
    background-color: #FCF6EE;
    color: black;
    border-radius: 8px;
    font-size:100%;
    background-color: rgb(169, 214, 229,0.5);
    overflow: auto;
    margin: 0 0.3% 0 0.3%;
}
.person-list {
    
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.person_list-item {
    list-style-type: none;
    
    color:black;
    border-left: 4px solid rgb(169, 214, 229,0.5);
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;
    width:100%;
    font-size:150%;
}
.person-image {
    margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.person-header {
    color: rgba(32, 54, 54);
    padding: 10px;
    font-size:150%;
}

.person-text {
    color:rgba(32, 54, 54);
    padding: 10px;
    font-size:150%;
}

.movie-text {
    color:rgba(32, 54, 54);
    font-size:100%;
    text-align: center;
}

.movie-list {
    list-style-type: none;
    background-color: rgb(169, 214, 229,0.5);
    color:black;
    border-left: 4px solid rgb(169, 214, 229,0.5);
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;

    width:100%;
    font-size:150%;
    display: inline-flex;
    float:left;
}

.movie-list-header {
    list-style-type: none;
    background-color: rgb(169, 214, 229,0.5);
    color:rgba(32, 54, 54);
    border-left: 4px solid rgb(169, 214, 229,0.5);
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;
    width:100%;
    font-size:150%;
}

.movie-image {
    width: 5%;
}

.movie-name {
    padding-left: 10px;
}

#alert-modal {
    z-index: 1;
    display:none;
    height: 15vh;
    width: 10vw;
    position: fixed;
    /* margin: auto, 0; */
    padding:2rem;
    top: 40%;
    left: 50%;
    background-color:  rgb(70, 143, 175);
    color: white;
    font-family: 'Scheherazade New', serif !important;
    font-size: 120%;
    text-align: center;
    align-content: center;
    border: double black 1px;
    box-shadow: 5px 5px 5px grey;


}
.close {
    font-size: 2rem;
}


.radio-seen {
    padding:10px;
    margin-left: 20px;
    color:rgba(32, 54, 54);
    font-size:150%;
}

.pure-g {
    letter-spacing: normal;
}

#movies-tosee, #movies-seen{
    display: block;
}

.bookCard{
    display:inline-block;

    width:250px;
}
p {
    font-family: 'Archivo Black', sans-serif;  
}
  

img {
    max-width: 20vh;
    height: auto;
}