header {
    background-color: #160F29;
    color: whitesmoke;
    text-align: center;
    padding: 3%;
    font-family: 'Archivo Black', sans-serif;
    font-size:200%;
    ;
}
nav {
    background-color: #ddbea8;
    color: black;
    padding: 1%;
    font-family: 'Archivo Black', sans-serif;
    font-size:180%;
}

#sidebar {
    background-color: #368F8B;
    color: whitesmoke;
    font-family: 'Archivo Black', sans-serif;
    font-size:150%;
}
#formContainer {
    margin-left: 3%;
    margin-right: 1%;
}
#btnContainer {
    margin-top: 2%;
    
}
#results {
    background-color: #f3dfc1;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;
}
#stacked-search {
    max-width: 70%;
}
#focusedInfo {
    height: 60%;
}
#relatedMedia {
    height: 40%;
}