.author_list {
    background-color: lightblue;
    color:blue;
    border-left: 4px solid blue;
    border-left-style: double;
    margin: 2px;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
}