*, body {
    box-sizing: border-box;
    font-family: 'Scheherazade New', serif !important;
  }

header {
    background-image: linear-gradient(160deg, rgb(1, 42, 74), rgb(1, 42, 74, 0.15));
    color: whitesmoke;
    text-align: center;
    padding-top: 2%;
    
    height: 15vh; 
    font-size: 300%;
   
}
nav {
    background-image: ;
    background-color: rgb(231, 227, 227, 0.3);
    color: black;
    padding: 0.35%;
    
    height: 7vh;
      
    margin: 0.1vh;
}
input {
  
}
hr {
    margin: 0 1%;
}
h3 {
    font-weight:lighter;
    font-style: italic;
    font-family: 'Scheherazade New', serif;
    color: rgba(32, 54, 54, 0.705);
}
/* Flex box for nav bar that overrides pure css styling */
.pure-menu-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.pure-menu-link {
    background-color: rgb(231, 227, 227, 0.9);
    /* flex: auto; */
    font-size: 120%;
    border-radius: 4px;
    text-align: center;
    min-width: 20vw;
    height: fit-content;
}
/* Sidebar container */
#sidebar {
    background-color: #A9D6E5;
    height: 76vh;
    color: whitesmoke;
    
    font-size:150%;
    border-radius: 8px;
    margin-top: 1vh;
    box-shadow: inset 0vh 1vh 1vh 0vh rgb(137, 194, 217,0.5);
    
    
        
}
/* Container of the search form (input and button) */
#formContainer {
    margin-left: 3%;
    margin-right: 1%;
}
#search-movie {
    max-width: 90%;
    /* font-weight: 100; */
    color: rgba(248, 241, 241, 0.027) !important;
    font-size: 80%;
}

/* Btn container */
#btnContainer {
    margin-top: 2%;    
}
.pure-button {
    padding: 0 5% !important;
    border-radius: 4px;
}
/* search history flex container */ 
#search-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    overflow: hidden;
}
/* Alignment of Search History label */
#srchHistory-label {
    margin-left: 2%;
    margin-right:55%
}
/* General container for search results */
#results {
    background-color: white;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;  
    height: 77vh;
    overflow: auto;
            
}
/* Container styling for focused info section of the results */
#focusedInfo {
    height: 45vh;
    
    margin: 1vh;
    
    
    border-radius: 8px;  
    
        
}
/* Container styling for the related media section of the results */
#relatedMedia {
    padding: 0 2vh 0 2vh;
    height: 30vh;
    
    border-radius: 8px;  
    margin: 0vh 1vh 0vh 1vh;

}

/* General container that applies only for page 3 'Your Collection' */
#generalContainer3 {
    background-color: #f3dfc1;
    height: 78vh;
    display: flex;
    flex-flow: column nowrap; 
}
/* My Collection section applies only for page 3 'Your Collection' */
#myCollection {
    display: flex;
    height: 40vh;
    background-color: #FCF6EE;
    margin-bottom: 1%;
    
    color: black;
    
    font-size:100%;
    overflow: auto;
}
/* My Wishlist section applies only for page 3 'Your Collection' */
#myWishlist {
    display: flex;
    height: 33vh;
    background-color: #FCF6EE;
    color: black;
    
    font-size:100%;
    
    overflow: auto;
}
.person-list {
    background-color: orange;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.person_list-item {
    list-style-type: none;
    background-color: #ddbea8;
    color:black;
    border-left: 4px solid #e2a579;
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;
    width:100%;
    font-size:150%;
}
.person-image {
    margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.person-header {
    color:brown;
    padding: 10px;
    font-size:150%;
}

.person-text {
    color:brown;
    padding: 10px;
    font-size:150%;
}

.movie-text {
    color:brown;
    font-size:100%;
    text-align: center;
}

.movie-list {
    list-style-type: none;
    background-color: #ddbea8;
    color:black;
    border-left: 4px solid #e2a579;
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;

    width:100%;
    font-size:150%;
    display: inline-flex;
    float:left;
}

.movie-list-header {
    list-style-type: none;
    background-color: brown;
    color:#ddbea8;
    border-left: 4px solid #e2a579;
    border-left-style: double;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;
    width:100%;
    font-size:150%;
}

.movie-image {
    width: 5%;
}

.movie-name {
    padding-left: 10px;
}

#alert-modal {
    z-index: 1;
    display:none;
    height: 5rem;
    width: 10rem;
    position: fixed;
    margin: auto, 0;
    padding:2rem;
    top: 40%;
    left: 50%;
    background-color:  #368F8B;


}
.close {
    font-size: 2rem;
}


.bookCard{
    display:inline-block;

    width:250px;

p {
    font-family: 'Archivo Black', sans-serif;  
}
img {
    max-width: 20vh;
    height:auto;
}