
header {
    background-color: #160F29;
    color: whitesmoke;
    text-align: center;
    padding: 3%;
    font-family: 'Archivo Black', sans-serif;
    font-size:200%;    
}
nav {
    background-color: #ddbea8;
    color: black;
    padding: 1%;
    font-family: 'Archivo Black', sans-serif;
    font-size:180%;
}
/* Menu container styling */
.pure-menu-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/* Sidebar container */
#sidebar {
    background-color: #368F8B;
    height: 74vh;
    color: whitesmoke;
    font-family: 'Archivo Black', sans-serif;
    font-size:150%;
}
/* Container of the search form (input and button) */
#formContainer {
    margin-left: 3%;
    margin-right: 1%;
}
/* Limit width of search input*/
#stacked-search {
    max-width: 70%;
}
/* Btn container */
#btnContainer {
    margin-top: 2%;    
}
/* search history flex container */
#search-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}
/* General container for search results */
#results {
    background-color: #f3dfc1;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;    
}
/* Container styling for focused info section of the results */
#focusedInfo {
    height: 55%;
    background-color: #E9C186;
    margin-bottom: 2%;    
}
/* Container styling for the related media section of the results */
#relatedMedia {
    height: 40.5%;
    background-color: #E9C186;
}
/* General container that applies only for page 3 'Your Collection' */
#generalContainer3 {
    background-color: #f3dfc1;
    height: 74vh;
    display: flex;
    flex-flow: column nowrap;    
}
/* My Collection section applies only for page 3 'Your Collection' */
#myCollection {
    height: 40vh;
    background-color: #FCF6EE;
    margin-bottom: 1%;
    margin-left: 1%;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;
}
/* My Wishlist section applies only for page 3 'Your Collection' */
#myWishlist {
    height: 33vh;
    background-color: #FCF6EE;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;
    margin-left: 1%;
}
.author_list {
    background-color: lightblue;
    color:blue;
    border-left: 4px solid blue;
    border-left-style: double;
    margin: 2px;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
}