* {
    box-sizing: border-box;
  }
header {
    background-color: #160F29;
    color: whitesmoke;
    text-align: center;
    padding: 3%;
    font-family: 'Archivo Black', sans-serif;
    font-size:200%;    
}
nav {
    background-color: #ddbea8;
    color: black;
    padding: 1%;
    font-family: 'Archivo Black', sans-serif;
    font-size:180%;
}
/* Flex box for nav bar that overrides pure css styling */
.pure-menu-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Sidebar container */
#sidebar {
    background-color: #368F8B;
    height: 100vh;
    color: whitesmoke;
    font-family: 'Archivo Black', sans-serif;
    font-size:150%;
}
/* Container of the search form (input and button) */
#formContainer {
    margin-left: 3%;
    margin-right: 1%;
}
/* Limit width of search input*/
#stacked-search {
    max-width: 70%;
}
/* Btn container */
#btnContainer {
    margin-top: 2%;    
}
/* search history flex container */
#search-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    overflow: hidden;
}
/* Alignment of Search History label */
#srchHistory-label {
    margin-left: 2%;
    margin-right:55%
}
/* General container for search results */
#results {
    background-color: #f3dfc1;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;  
    height: 100vh;
    overflow: scroll;  
}
/* Container styling for focused info section of the results */
#focusedInfo {
    height: 49vh;
    background-color: #E9C186;
    margin-bottom: 2vh;    
}
/* Container styling for the related media section of the results */
#relatedMedia {
    height: 49vh;
    background-color: #E9C186;
}

/* General container that applies only for page 3 'Your Collection' */
#generalContainer3 {
    background-color: #f3dfc1;
    height: 74vh;
    display: flex;
    flex-flow: column nowrap;    
}
/* My Collection section applies only for page 3 'Your Collection' */
#myCollection {
    display: flex;
    height: 40vh;
    background-color: #FCF6EE;
    margin-bottom: 1%;
    margin-left: 1%;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;
    overflow: scroll;
}
/* My Wishlist section applies only for page 3 'Your Collection' */
#myWishlist {
    display: flex;
    height: 33vh;
    background-color: #FCF6EE;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size:100%;
    margin-left: 1%;
    overflow: scroll;
}
.author_list {
    background-color: lightblue;
    color:blue;
    border-left: 4px solid blue;
    border-left-style: double;
    margin: 2px;
    padding: 2px;
    width: 50%;
    border-radius: 5px;
}
#alert-modal {
    z-index: 1;
    display:none;
    height: 5rem;
    width: 10rem;
    position: fixed;
    margin: auto, 0;
    padding:2rem;
    top: 40%;
    left: 50%;
    background-color:  #368F8B;


}
.close {
    font-size: 2rem;
}

p {
    font-family: 'Archivo Black', sans-serif;  
}
img {
    max-width: 20vh;
    height:auto;
}